@import url('https://fonts.cdnfonts.com/css/telegraf');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Telegraf', sans-serif;
  color: white;
  font-size: clamp(1rem, 1vw, 2rem);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 

.box_left {
  margin-top: 20vh;
  height: 28vh;
  width: 27vh;
  background-color: rgba(31, 31, 31, 0.7);
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
  padding: 0 1.5rem;
  margin-left: 6rem;
  animation: fadeInUp 1s ease forwards;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  white-space: normal;
  max-width: 250px;
}

    

* {
	box-sizing: border-box;
}




@media (max-width: 900px) {
  .container {
    background-position: 60% center;
  }
}

@media (max-width: 600px) {
  .container {
    background-position: 70% center;
  }
}